.wrapper{
    display: flex;
    align-items:stretch
}
.wrapper-between{
    display: flex;
    justify-content: space-between;
}
.p-2{
    padding: 20px 10px;
}
.bg-dc{
    background-color: $dc-color;
    height: 80px;    
}

.comic-card-img{
        position: relative;
        bottom: 220px;
        height: 200px;
        width: 140px;
        .border-white{
            border: 1px solid #fff;
        }      
        .comic-book{
            position: absolute;
            top: 0;
            left: 0;
            background-color: #00a9d9;
            color: #fff;
            padding: 2px;
        }
        .view-gallery{
            position:absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #00a9d9;
            text-align: center;
            color: #fff;
            padding: 2px;

        }
    }
    



    .adv{
        color: #444;
        text-align: right;
        font-size: 0.8em;
    }

.bg-g{
    background-color: #55ba59;
}

.br-r{
    border-right: 1px solid black;
}