/*TEXT*/

.dc-text{
    color: $dc-color;
}
.text-white{
    color: #fff;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}
.uppercase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}